<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>tw.lifehackers.SynologyDownload</string>
	<key>connections</key>
	<dict>
		<key>1100E796-6F40-428F-9651-9E6CCF06DC3E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7E2BA174-D2A3-4F50-843D-401309A10F2E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>3E04BC33-E5BD-439F-880E-889827A4F691</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>11AC76CA-75A0-4548-9449-CFC0C125FB31</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>34334833-7C5F-4933-8BCA-0E2B2E353F7A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>34334833-7C5F-4933-8BCA-0E2B2E353F7A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D2CCFE32-5C75-461A-9585-5D9BACC86F73</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>34BC1DC5-882B-4D66-9CB3-C2D1D33787B8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>47EB7988-99DA-40FA-B03F-DA58717BABBC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3E04BC33-E5BD-439F-880E-889827A4F691</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2AB060AC-E3D2-416F-8649-D5317D4B8CA2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>47EB7988-99DA-40FA-B03F-DA58717BABBC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EF0DC346-C56A-4942-93A0-C0A820339F78</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7E2BA174-D2A3-4F50-843D-401309A10F2E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>34BC1DC5-882B-4D66-9CB3-C2D1D33787B8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>830610DA-E360-4BB7-9327-35097DA7CC45</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>03800292-2F16-457E-9311-D5038A88F858</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D2CCFE32-5C75-461A-9585-5D9BACC86F73</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>830610DA-E360-4BB7-9327-35097DA7CC45</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EF0DC346-C56A-4942-93A0-C0A820339F78</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>11AC76CA-75A0-4548-9449-CFC0C125FB31</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Landice Fu</string>
	<key>description</key>
	<string>Connect to your Synology NAS by QuickConnect and trigger download</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>SynologyDownload</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>subtext</key>
				<string>Connect to QuickConnect ID {query}</string>
				<key>text</key>
				<string>Enter QuickConnect ID</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>47EB7988-99DA-40FA-B03F-DA58717BABBC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<true/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>query=$1
python main.py $1</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>03800292-2F16-457E-9311-D5038A88F858</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>subtext</key>
				<string>Loggin as {query}</string>
				<key>text</key>
				<string>Enter The Username of your NAS</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>11AC76CA-75A0-4548-9449-CFC0C125FB31</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>sd</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>python main.py "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>1100E796-6F40-428F-9651-9E6CCF06DC3E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>subtext</key>
				<string>Enter Your Password to Access Account '{var:account}'</string>
				<key>text</key>
				<string>Password</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>D2CCFE32-5C75-461A-9585-5D9BACC86F73</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>setup</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>7E2BA174-D2A3-4F50-843D-401309A10F2E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>variables</key>
				<dict>
					<key>username</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>34334833-7C5F-4933-8BCA-0E2B2E353F7A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>variables</key>
				<dict>
					<key></key>
					<string></string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>34BC1DC5-882B-4D66-9CB3-C2D1D33787B8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>exec save_account</string>
				<key>variables</key>
				<dict>
					<key>password</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>830610DA-E360-4BB7-9327-35097DA7CC45</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>variables</key>
				<dict>
					<key>qcid</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>EF0DC346-C56A-4942-93A0-C0A820339F78</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<false/>
				<key>matchmode</key>
				<integer>2</integer>
				<key>matchstring</key>
				<string>exec.*</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>3E04BC33-E5BD-439F-880E-889827A4F691</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<true/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>query=$1
python main.py $query</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>2AB060AC-E3D2-416F-8649-D5317D4B8CA2</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>03800292-2F16-457E-9311-D5038A88F858</key>
		<dict>
			<key>xpos</key>
			<integer>1220</integer>
			<key>ypos</key>
			<integer>70</integer>
		</dict>
		<key>1100E796-6F40-428F-9651-9E6CCF06DC3E</key>
		<dict>
			<key>xpos</key>
			<integer>200</integer>
			<key>ypos</key>
			<integer>70</integer>
		</dict>
		<key>11AC76CA-75A0-4548-9449-CFC0C125FB31</key>
		<dict>
			<key>xpos</key>
			<integer>770</integer>
			<key>ypos</key>
			<integer>70</integer>
		</dict>
		<key>2AB060AC-E3D2-416F-8649-D5317D4B8CA2</key>
		<dict>
			<key>xpos</key>
			<integer>490</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
		<key>34334833-7C5F-4933-8BCA-0E2B2E353F7A</key>
		<dict>
			<key>xpos</key>
			<integer>920</integer>
			<key>ypos</key>
			<integer>100</integer>
		</dict>
		<key>34BC1DC5-882B-4D66-9CB3-C2D1D33787B8</key>
		<dict>
			<key>xpos</key>
			<integer>470</integer>
			<key>ypos</key>
			<integer>100</integer>
		</dict>
		<key>3E04BC33-E5BD-439F-880E-889827A4F691</key>
		<dict>
			<key>xpos</key>
			<integer>380</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
		<key>47EB7988-99DA-40FA-B03F-DA58717BABBC</key>
		<dict>
			<key>xpos</key>
			<integer>550</integer>
			<key>ypos</key>
			<integer>70</integer>
		</dict>
		<key>7E2BA174-D2A3-4F50-843D-401309A10F2E</key>
		<dict>
			<key>xpos</key>
			<integer>380</integer>
			<key>ypos</key>
			<integer>100</integer>
		</dict>
		<key>830610DA-E360-4BB7-9327-35097DA7CC45</key>
		<dict>
			<key>xpos</key>
			<integer>1150</integer>
			<key>ypos</key>
			<integer>100</integer>
		</dict>
		<key>D2CCFE32-5C75-461A-9585-5D9BACC86F73</key>
		<dict>
			<key>xpos</key>
			<integer>990</integer>
			<key>ypos</key>
			<integer>70</integer>
		</dict>
		<key>EF0DC346-C56A-4942-93A0-C0A820339F78</key>
		<dict>
			<key>xpos</key>
			<integer>700</integer>
			<key>ypos</key>
			<integer>100</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>qcid</key>
		<string></string>
		<key>username</key>
		<string></string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>qcid</string>
		<string>username</string>
	</array>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string>https://github.com/landicefu/</string>
</dict>
</plist>
